.castle-creator {
  background: var(--blue-50);
  position: relative;
  .container {
    max-width: var(--screen-xl);
    margin: 0 auto;
    padding: var(--space-xl) var(--space-sm);
  }

  .h2 {
    // color: var(--rose-600);
    font-family: "Open Sans";
    font-weight: 500;
    font-size: var(--step-0);
    // margin-bottom: var(--space-lg);
    color: var(--blue-800);
    text-align: center;
  }

  .h3 {
    // font-family: "Open Sans";
    // font-weight: 600;
    color: var(--rose-600);
    text-align: center;

    &.size-0 {
      font-size: var(--step-3);
    }

    &.size-1 {
      font-size: var(--step-4);
    }

    &.size-2 {
      font-size: var(--step-5);
    }
  }

  .description {
    text-align: center;
    font-size: var(--step--2);
    color: var(--warmGray-600);
    font-family: "Open Sans";
    margin-top: var(--space-xs);
  }

  .input-container {
    max-width: 20rem;
    margin: auto;
    font-size: var(--step-0);
    text-align: center;
    font-family: "Balloon-Base", sans-serif;
    color: var(--green-600);
    letter-spacing: 1px;
  }

  /* Range Slider Styles */

  input[type="range"] {
    width: 100%;
    margin: 8.35px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    background: var(--yellow-300);
    border: 0;
    border-radius: 25px;
    width: 100%;
    height: 13.3px;
    cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    margin-top: -8.35px;
    width: 30px;
    height: 30px;
    background: #f43f5e;
    border: 0px solid rgba(255, 205, 255, 0);
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--yellow-300);
  }
  input[type="range"]::-moz-range-track {
    background: var(--yellow-300);
    border: 0;
    border-radius: 25px;
    width: 100%;
    height: 13.3px;
    cursor: pointer;
  }
  input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #f43f5e;
    border: 0px solid rgba(255, 205, 255, 0);
    border: 0;
    border-radius: 12px;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 12.45px 0;
    color: transparent;
    width: 100%;
    height: 13.3px;
    cursor: pointer;
  }
  input[type="range"]::-ms-fill-lower {
    background: var(--yellow-300);
    border: 0;
    border-radius: 50px;
  }
  input[type="range"]::-ms-fill-upper {
    background: var(--yellow-300);
    border: 0;
    border-radius: 50px;
  }
  input[type="range"]::-ms-thumb {
    width: 30px;
    height: 30px;
    background: #f43f5e;
    border: 0px solid rgba(255, 205, 255, 0);
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: var(--yellow-300);
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: var(--yellow-300);
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align: auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type="range"] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
}
